body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

.profile img {
    max-width: 100%;
}
.contact img {
    max-width: 3%;
}

.contact p {
    margin: 0.5rem 0;
}

.social-media a {
    margin: 0 0.01rem;
    text-decoration: none;
}
button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form button {
    margin: 0.5rem 0;
}

#result {
    margin-top: 1rem;
    background-color: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ccc;
}